.container {
    background-color: #ccc;
    height: 500px;
    display: flex;
    
    flex-direction: row; 
    
    flex-wrap: nowrap;
    
    /* flex-flow: row nowrap; - direction e wrap */ 
    
    justify-content: flex-start; /* alinhamento horizontal */
    /* flex-end | center | space-between | space-around */

    align-items: stretch; /* alinhamento vertical */
    /* baseline - alinha com base no conteudo */

    align-content: flex-start; /* alinhamento vertical com quebra de linha*/
}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    height: 30px; 

    /* flex-grow: 1;  largura */
    /* flex-shrink: 1;  encolhe */
    /* flex-basis: 300px;  largura inicial */

    flex: 1 1 300px; /* grow shrink basis */
}

.artigo01 {
    flex-shrink: 3; /* ocupa 3x o espaço dos outros */
}
.artigo02 {
    
}
.artigo03 {
    
}
.artigo04 {
    
}